.review-card-container {
  margin: 20px 10px;
}

.review-body {
  font-size: 15px;
  color: #fff;
}

.review-header {
  display: flex;
  align-items: center;
  margin: 15px;
}

.review-header h5 {
  margin-left: 15px;
}

.review-text {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  padding: 15px;
}

.review-text p {
  text-align: justify;
  letter-spacing: -0.015em;
  color: #9e9e9e;
}
