.movie-container {
  margin: 10px;
}

.movie-card {
  height: 322px;
}

.movie-card h1 {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.movie-card h4 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.015em;
  color: #ffc700;
}

.movie-card p {
  font-size: 14px;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.movie-card img {
  width: 100%;
  padding-top: 20px;
}

.movie-card-info {
  margin: 10px 20px 50px 20px;
}

@media (min-width: 576px){
  .movie-card {
    width: 258px;
    margin: 10px 8px;
  }
}

@media (min-width: 768px){
  .movie-card {
    width: 324px;
    height: 364px;
  }
}

@media (min-width: 992px){
  .movie-card {
    width: 436px;
    height: 457px;
  }
}

@media (min-width: 1200px){
  .movie-card {
    width: 258px;
    height: 322px;
  }
}
